.createvote {
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.createvote__center {
    width: 80%;
    height: 100%;

    border-width: 10px;
    border-style: solid;
    border-color: red;
}

.createvote__rightleft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.createvote__big__head {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 6vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__mid__head {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;

    font-size: 3vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__small__head {
    display: flex;
    //align-items: center;
    justify-content: center;
    height: 20%;

    font-size: 2vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; /* 칸(이미지) 사이 간격 */
    grid-auto-rows: minmax(100px, auto);
    padding : 20px;

    //padding-top: 30px;
    //padding-bottom: 30px;

    border-width: 1px;
    border-style: solid;
    border-color: green;
}

.add__photo1 {
    grid-colum: 1;
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.add__photo2 {
    grid-colum: 2;
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.add__photo3 {
    grid-colum: 1;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.add__photo4 {
    grid-colum: 2;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}


.createvote__input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.createvote__input__radio {
    width: 75px;
    height: 25px;
    padding-left: 10px;
    margin: 10px;
}

.createvote__button__container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 30px;

    border-width: 5px;
    border-style: solid;
    border-color: red;
}

.createvote__b {
    height: 70%;

    background-color: white;
}
.createvote__select {
    width: 100px;
    height: 50px;
    padding-left: 10px;
    margin: 5px;
}