.createvote2 {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.createvote__center2 {
    width: 80%;
    height: 100%;

    border-width: 10px;
    border-style: solid;
    border-color: red;
}

.createvote__rightleft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;


    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.createvote__big__head2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 15%;

    font-size: 6vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__mid__head2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;

    font-size: 3vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__small__head2 {
    display: flex;
    //align-items: center;
    justify-content: center;
    height: 5%;

    font-size: 2vh;
    font-weight: bold;

    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.createvote__content2 {
    display: flex;
    align-items: center;
    justify-content: center;

    border-width: 10px;
    border-style: solid;
    border-color: green;
}

.createvote__content__entity {
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: yellow;
}

.select__photo1 {
    grid-colum: 1;
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.select__photo2 {
    grid-colum: 2;
    grid-row: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.select__photo3 {
    grid-colum: 1;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: rgb(122, 204, 185);
}

.select__photo4 {
    grid-colum: 2;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;

    padding-top: 50px;
    padding-bottom: 50px;

    margin: 5px;

    //border-width: 3px;
    //border-style: solid;
    //border-color: rgb(122, 204, 185);
}


.createvote__input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    margin: 10px;
}
.createvote__input__radio {
    width: 75px;
    height: 25px;
    padding-left: 10px;
    margin: 10px;
}

.createvote__button__container2 {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;

    //border-width: 5px;
    //border-style: solid;
    //border-color: red;
}

.createvote__b {
    height: 70%;

    background-color: white;
}

.createvote__button2 {
    background-color: rgb(122, 204, 185);
    color: rgb(255, 255, 255);
    font-weight: 700;
    width: 150px;
    border-radius: 40px;
    height: 48px;
}

.createvote__select {
    width: 100px;
    height: 50px;
    padding-left: 10px;
    margin: 5px;
}

.radio__hidden {
    visibility: hidden;
}

.vote__state{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;

    font-size: 3vh;
    font-weight: bold;

    //border-width: 1px;
    //border-style: solid;
    //border-color: blue;
}