
.voteresult{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20px;
    margin-right: 20px;

}

.voteresult__center{
    width: 80%;
    height: 100%;


}

.voteresult__state{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;

    font-size: 3vh;
    font-weight: bold;


}

.vote__list__container2{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;

    //border-width: 3px;
    //border-style: solid;
    //border-color: green;
}

.voteresult__title{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 15%;

    font-size: 6vh;
    font-weight: bold;


}

.voteresult__kind{
    display: flex;
    //align-items: center;
    justify-content: center;
    height: 5%;

    font-size: 2vh;
    font-weight: bold;


}

.voteresult__votelist{
    //display: flex;
    //align-items: center;
    //justify-content: center;

    margin-top: 20px;



}

.voteresult__vote{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1200px;
    height: 440px;

    margin: 5px;

}

.voteresult__img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 430px;


}

.voteresult__analBox{
    width: 500px;
    height: 430px;

}

.voteresult__button_box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.voteresult__graph__button{
    width: 130px;
    height: 40px;

    margin-left: 10px;

    background-color: rgb(122, 204, 185);
    color: rgb(255, 255, 255);

    font-size: 14px;
    font-weight: 600;

    border-color: rgb(122, 204, 185);
    border-radius: 40px;
}

.voteresult__graph__box{
    width: 100px;
    height: 380px;
}

.voteresult__cnt{
    width: 500px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: 700;


}

.voteresult__agegenderBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 100px;

}

.voteresult__agepercentageBox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.voteresult__gender{
    width: 250px;
    height: 100px;

}

.voteresult__age{
    width: 250px;
    height: 100px;

    border-width: 2px;
    border-style: solid;
    border-color: green;
}

.voteresult__nickBox{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 270px;

    border-width: 2px;
    border-style: solid;
    border-color: pink;
}

.voteresult__nick{
    width: 166px;
    height: 270px;

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.voteresult__tag {
    width: 400px;
    height: 450px;

}



