.insta__post{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 423px;

    //background-color: gray;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.insta__post__parent {
    position: relative;
}

.insta__post__child {
    height: 235px;
    width: 235px;

    position: absolute;
    top: 73px;
    left: 8px;
}

.insta__post__img {
    width: 235px;
    height: 235px;
    object-fit: cover;
}

.insta__profile{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 350px;

    //background-color: gray;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.insta__profile__parent {
    position: relative;
}

.insta__profile__img {
    width: 100px;
    height: 100px;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 400px;
}

.insta__profile__frame {
    width: 450px;

}

.insta__profile__child {
    position: absolute;
    top: 180px;
    left: 51px;


}


.kakao__profile{
    display: flex;
    align-items: center;
    justify-content: center;

    //width: 250px;
    height: 423px;

    //background-color: gray;

    //border-width: 1px;
    //border-style: solid;
    //border-color: gray;
}

.kakao__profile__parent {
    position: relative;
}

.kakao__profile__img {
    width: 65px;
    height: 65px;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 22px;
}

.kakao__profile__frame {
    width: 450px;

}

.kakao__profile__child {
    position: absolute;
    top: 225px;
    left: 205px;

}





.kakao__back{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 500px;
    height: 400px;

    //background-color: gray;
}

.kakao__back__parent {
    position: relative;
    width: 200px;


}

.kakao__back__child {
    width: 200px;

    position: absolute;
    top: 0px;
    left: 0px;
}

.kakao__back__img {
    width: 235px;
    height: 400px;
    object-fit: cover;
}

.kakao__back__frame {

}





.twit__back{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 500px;
    height: 350px;

    //background-color: gray;
}

.twit__back__parent {
    position: relative;
    width: 390px;
}

.twit__back__child {
    width: 390px;

    position: absolute;
    top: 0px;
    left: 0px;
}

.twit__back__img {
    width: 390px;
    height: 130px;
    object-fit: cover;
}

.twit__back__frame {

}





.twit__profile{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 500px;
    height: 350px;

    //background-color: gray;
}

.twit__profile__parent {
    position: relative;
    width: 500px;
}

.twit__profile__img {
    width: 80px;
    height: 80px;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 400px;
}

.twit__profile__frame {
}

.twit__profile__child {
    width: 390px;

    position: absolute;
    top: 180px;
    left: 110px;

}