.insta__post{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 423px;

    //background-color: gray;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.insta__post__parent {
    position: relative;
}

.insta__post__child {
    height: 235px;
    width: 235px;

    position: absolute;
    top: 73px;
    left: 8px;
}

.insta__post__img {
    width: 235px;
    height: 235px;
    object-fit: cover;
}




.insta__profile{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 380px;
    height: 280px;

    //background-color: gray;

    //border-width: 1px;
    //border-style: solid;
    //border-color: gray;
}

.insta__profile__parent {
    position: relative;
    //width: 300px;
    height: 300px;

    //border-width: 1px;
    //border-style: solid;
    //border-color: red;
}

.insta__profile__img {
    width: 80px;
    height: 80px;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 400px;
}

.insta__profile__frame {
    margin-bottom: 40px;
}

.frame__border {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 360px;
    height: 250px;

    //background-color: red;

    margin-top: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.insta__profile__child {
    position: absolute;
    top: 90px;
    left: 41px;
}



.kakao__profile{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 220px;
    height: 400px;

    //background-color: red;
}

.kakao__profile__parent {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

.kakao__profile__img {
    width: 60px;
    height: 60px;
    object-fit: cover;

    border-radius: 19px;
}

.kakao__profile__child {
    position: absolute;
    top: 202px;
    left: 93px;
}

.kakao__profile__frame {
    width: 220px;
    height: 430px;
    object-fit: cover;

    //border-width: 3px;
    //border-style: solid;
    //border-color: yellow;
}







.kakao__back{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 200px;
    height: 400px;

    //background-color: gray;
}

.kakao__back__parent {
    position: relative;
    width: 200px;
}

.kakao__back__child {
    width: 200px;

    position: absolute;
    top: 0px;
    left: 0px;
}

.kakao__back__img {
    width: 235px;
    height: 400px;
    object-fit: cover;
}

.kakao__back__frame {

}





.twit__back{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 400px;
    height: 250px;

    //background-color: gray;
}

.twit__back__parent {
    position: relative;
    width: 300px;
}

.twit__back__child {
    width: 300px;

    position: absolute;
    top: 0px;
    left: 0px;
}

.twit__back__img {
    width: 390px;
    height: 130px;
    object-fit: cover;
}

.twit__back__frame {

}





.twit__profile{
    display: flex;
    //align-items: center;
    justify-content: center;

    width: 400px;
    height: 260px;

    //background-color: gray;
}

.twit__profile__parent {
    position: relative;
    width: 420px;
    height: 260px;

    //border-width: 2px;
    //border-style: solid;
    //border-color: red;
}

.twit__profile__img {
    width: 65x;
    height: 65px;
    object-fit: cover;

    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 400px;
}

.twit__profile__frame {
    width: 420px;
    height: 260px;
    object-fit: cover;

    //background-color: blue;
}

.twit__profile__child1 {
    position: absolute;
    top: 0px;
    left: 0px;

}

.twit__profile__child2 {
    position: absolute;
    top: 75px;
    left: 90px;

}